version: 2
root-markers:
  - .git/
lint-debounce: 1s
# log-file: /tmp/efm-langserver.log
# log-level: 1

tools:
  python-mypy: &python-mypy
    lint-command: 'mypy --show-column-numbers'
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

  yaml-actionlint: &yaml-actionlint
    # lint-command: >
    #   bash -c "[[ '${INPUT}' =~ \\.github/workflows/ ]]" && \
    #     actionlint -oneline -no-color -
    lint-command: 'actionlint -oneline -no-color -'
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m"
    root-markers:
      - .github/workflows

languages:
  python:
    - <<: *python-mypy

  yaml:
    - <<: *yaml-actionlint
