configuration {
    modi: "combi";
    combi-modi: "hotmenu:~/.config/rofi/hotmenu.sh,i3wm:~/.config/rofi/i3wm.sh,drun,run,window";
    kb-cancel: "Escape,Control+space";
    kb-row-select: "";
}
@theme "gruvbox-light-soft"
