[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/bin/xremap /home/mityu/.config/xremap/config.yml --watch
ExecStartPost=-/usr/bin/dunstify -a 'xremapActivation' -t 2000 'xremap is now active.'
Type=simple
Restart=always
RestartSec=5s

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
